<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999017124538-baahup9il0oivc9hv5iusb1hjup94va3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999017124538-baahup9il0oivc9hv5iusb1hjup94va3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999017124538-roa5tqd60tko2d8fn6ur4ho83r3n4qea.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOoVWzleXSSc9v7vOTogLwweBa7C0rRRw</string>
	<key>GCM_SENDER_ID</key>
	<string>999017124538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.partnergrammer.craze</string>
	<key>PROJECT_ID</key>
	<string>craze-71d6b</string>
	<key>STORAGE_BUCKET</key>
	<string>craze-71d6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999017124538:ios:998332d2115e49fad72883</string>
	<key>DATABASE_URL</key>
	<string>https://craze-71d6b.firebaseio.com</string>
</dict>
</plist>